<template name="editProfile">

    <div class="confirmation" id="confirmation">Confirmation!</div>
    <div class="alert" id="alert">Error.</div>
    <div class="info" id="info">Info here.</div>
    
    <form class="signUp" id="changeEmail">
        <p class="form-title">Change email</p>
        <label for="email">New Email : </label>
        <div><input type="email" id="email" value="{{currentUser.emails.[0].address}}" autocomplete="off" required></div>
        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-envelope-o" style="margin-right: 2%;" aria-hidden="true"></i>Change email</button>
    </form>

    <form class="signUp" id="changePassword">
        <p class="form-title">Change password</p>
        <div><input type="password" id="oldPassword" placeholder="Current password" required></div>
        <div class="forgot-pass-content text-right">
            <a href="/resetPassword">Forgot password?</a><br><br>
        </div>
        <div><input type="password" id="newPassword" placeholder="New password" required></div>
        <div><input type="password" id="passwordConfirmation" placeholder="Confirm new password" required></div>
        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-key" style="margin-right: 2%;" aria-hidden="true"></i>Change password</button>
    </form>

    <form class="signUp" id="changeUsername">
        <p class="form-title">Change username</p>
        <label for="text">New username : </label>
        <div><input type="text" id="username" value="{{currentUser.username}}" onkeyup="formatUsername(this)" required></div>
        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-user" style="margin-right: 2%;" aria-hidden="true"></i>Change username</button>
    </form>

    <form class="signUp" id="editProfile">
        <p class="form-title">Edit profile</p>
        <label for="name">Nome : </label>
        <div><input type="text" id="name" value="{{currentUser.profile.name}}"></div>
        <label for="surname">Cognome : </label>
        <div><input type="text" id="surname" value="{{currentUser.profile.surname}}"></div>
        <label for="telegram_username">Telegram : </label>
        <div><input type="text" id="telegram_username" value="{{currentUser.profile.telegram_username}}"></div>
        <label for="birth">Birth : </label>
        <div>{{> datePicker date=currentUser.profile.birth}}</div>
        
        <br>
        <label for="gender">Gender : </label>
        <div id="gender">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <input type="radio" value="Male" name="gender" id="user_male" {{isMale}}/>
                        <label for="user_male">Male</label>
                    </div>    
                    <div class="col-md-2">
                        <input type="radio" value="Female" name="gender" id="user_female" {{isFemale}}/>
                        <label for="user_female">Female</label>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="radio" value="Unknown" name="gender" id="user_unknown" {{isUnknown}}/>
                        <label for="user_unknown">Unknown</label>
                    </div>
                    <div class="col-md-2">
                        <input type="radio" value="Transgender" name="gender" id="user_transgender" {{isTransgender}}/>
                        <label for="user_transgender">Transgender</label>
                    </div>
                </div>      
            </div>
        </div>
        
        <br>

       <div id= "privacy">
            <label for="user_privacy" id="label_user_privacy">
                Privacy: <span style="color:{{privacyColor(currentUser.profile.privacy)}}">{{privacyValue(currentUser.profile.privacy)}} level</span>
            </label>
            <input min="0" max="2" type="range" name="privacy" id="user_privacy" value="{{currentUser.profile.privacy}}" onchange="privacyInfoUpdate(this);"/>
            <p id="privacyInfo">{{privacyInfo(currentUser.profile.privacy)}}</p>
        </div>

        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-id-card-o" style="margin-right: 2%;" aria-hidden="true"></i>Edit Profile</button>
    </form>
    


    <form class="signUp text-center" id="changePhotos">
        <p class="form-title">Change your profile photos</p>

        <label>Profile photo #1:</label>
        <img id="post_img1" src="{{currentUser.profile.img1_url}}" style="max-width: 100%; margin-bottom: 2%">
        <input type="text" id="oldImg1_public_id" value="{{currentUser.profile.img1_public_id}}" hidden>
        <input type="text" id="oldImg1_url" value="{{currentUser.profile.img1_url}}" hidden>
        <input type="text" id="img1_public_id" hidden>
        <input type="text" id="img1_url" hidden>
        <div id="spinner1" style="margin-top: 5%; padding-bottom: 3%; display: none">{{> smallSpinner}}</div>

        <button id="delete_img1" class="btn btn-danger" style="width: 33%; margin-top: 0; margin-bottom: 1%; letter-spacing: 0;  display: none">
            <i class="fa fa-trash-o" title="Delete" style="margin-right: 4%;" aria-hidden="true"></i>Delete photo
        </button>
        <br>
        <div class="buttond" style="margin-bottom: 2%">
            <div class="btn btn-primary btn-file" id="button_uploadImage1" style="width: 33%; margin-right: 1%">
                <label for="post_image" style="margin-bottom: 0;"><i class="fa fa-camera" style="margin-right: 4%;" aria-hidden="true"></i>Add photo</label>
                <input type="file" name="post_image" id="post_uploadImage1"/>
            </div>
        </div>

        <div style="border-top: 1.5px solid white; margin-bottom: 2%"></div>
        <label>Profile photo #2:</label>
        <img id="post_img2" src="{{currentUser.profile.img2_url}}" style="max-width: 100%; margin-bottom: 2%">
        <input type="text" id="oldImg2_public_id" value="{{currentUser.profile.img2_public_id}}" hidden>
        <input type="text" id="oldImg2_url" value="{{currentUser.profile.img2_url}}" hidden>
        <input type="text" id="img2_public_id" hidden>
        <input type="text" id="img2_url" hidden>
        <div id="spinner2" style="margin-top: 5%; padding-bottom: 3%; display: none">{{> smallSpinner}}</div>

        <button id="delete_img2" class="btn btn-danger" style="width: 33%; margin-top: 0; margin-bottom: 1%; letter-spacing: 0; display: none">
            <i class="fa fa-trash-o" title="Delete" style="margin-right: 4%;" aria-hidden="true"></i>Delete photo
        </button>
        <br>
        <div class="buttond" style="margin-bottom: 2%">
            <div class="btn btn-primary btn-file" id="button_uploadImage2" style="width: 33%; margin-right: 1%">
                <label for="post_image" style="margin-bottom: 0;"><i class="fa fa-camera" style="margin-right: 4%;" aria-hidden="true"></i>Add photo</label>
                <input type="file" name="post_image" id="post_uploadImage2"/>
            </div>
        </div>

        <div style="border-top: 1.5px solid white; margin-bottom: 2%"></div>
        <label>Profile photo #3:</label>
        <img id="post_img3" src="{{currentUser.profile.img3_url}}" style="max-width: 100%; margin-bottom: 2%">
        <input type="text" id="oldImg3_public_id" value="{{currentUser.profile.img3_public_id}}" hidden>
        <input type="text" id="oldImg3_url" value="{{currentUser.profile.img3_url}}" hidden>
        <input type="text" id="img3_public_id" hidden>
        <input type="text" id="img3_url" hidden>
        <div id="spinner3" style="margin-top: 5%; padding-bottom: 3%; display: none">{{> smallSpinner}}</div>

        <button id="delete_img3" class="btn btn-danger" style="width: 33%; margin-top: 0; margin-bottom: 1%; letter-spacing: 0; display: none">
            <i class="fa fa-trash-o" title="Delete" style="margin-right: 4%;" aria-hidden="true"></i>Delete photo
        </button>
        <br>
        <div class="buttond" style="margin-bottom: 2%">
            <div class="btn btn-primary btn-file" id="button_uploadImage3" style="width: 33%; margin-right: 1%">
                <label for="post_image" style="margin-bottom: 0;"><i class="fa fa-camera" style="margin-right: 4%;" aria-hidden="true"></i>Add photo</label>
                <input type="file" name="post_image" id="post_uploadImage3"/>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-sm" id="button_changePhotos"><i class="fa fa-picture-o" style="margin-right: 2%;" aria-hidden="true"></i>Change photos</button>
    </form>



    <form class="signUp text-center">
        <p class="form-title">Delete account</p>
        <p style="font-size:1.2em;">Warning, this operation cannot be undone!<br>It will also delete all your posts and comments.</p>
        <button type="button" class="btn btn-danger btn-sm" id="deleteAccount"><i class="fa fa-trash-o" style="margin-right: 2%;" aria-hidden="true"></i>Delete account</button>
    </form>     

</template>