<template name="myPosts">

	<div id="post">
        <div class="container text-center newPost">
        	<a class="btn btn-lg btn-primary" href="/newPost"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>New post</a>
        </div>
	    
        {{#each post}}
			<div class="container">
				<div class="row text-center well well-sm" id="postHeader">
						  
					<div class="col-md-1">
                        {{#if anonymous}}
							<i class="fa fa-user-secret fa-4x" aria-hidden="true"></i>
                    	{{else}}
							<i class="fa fa-user fa-4x" aria-hidden="true"></i>
                    	{{/if}}
                    </div>
                    <div class="col-md-5 text-left" style="padding-left: 0;"> 
                        <h3><a href="/profile">{{currentUser.username}}</a></h3>
                        <a class="postDate" href="" id="postDetail"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>{{formatDatePost(dateTime)}}</a>
                    </div>
                    <div class="col-md-6 text-right" style="padding-right: 0;">
	                	  <a class="btn btn-primary btn-sm" href="/editPost/{{_id}}"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a>
	               		  <button class="btn btn-danger btn-sm" id="deletePost"><i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>Delete</button>
                    </div>

				</div>

				<div class="row text-center well well-sm">

					<div class="col-md-6">
						<div class="text-left">
							<span class="pre lead">{{text}}</span>
						</div>
						<!--<img class="img-responsive" src="/images/1.jpg"> -->

	              		<div class="likes">
	                    	<i class="fa fa-thumbs-up fa-2x" aria-hidden="true">{{like}}</i>
	                    	<i class="fa fa-thumbs-down fa-2x" aria-hidden="true">{{dislike}}</i>
	                    	<i class="fa fa-comments fa-2x" aria-hidden="true">{{commentsCounter}}</i>
	                  	</div>

	                  	{{#if alreadyLiked}}
		                    <button class="btn btn-success btn-sm" id="like" onclick="like('{{_id}}', 1)" disabled="{{alreadyLiked}}">Like</button> 
		                    <button class="btn btn-danger btn-sm" id="dislike" onclick="dislike('{{_id}}', -1)" disabled="{{alreadyDisliked}}">Dislike</button>
	                    {{else}}
	                    	{{#if alreadyDisliked}}
                    		<button class="btn btn-success btn-sm" id="like" onclick="like('{{_id}}', -1)" disabled="{{alreadyLiked}}">Like</button> 
	                    	<button class="btn btn-danger btn-sm" id="dislike" onclick="dislike('{{_id}}', 1)" disabled="{{alreadyDisliked}}">Dislike</button>
                    		{{else}}
                    			<button class="btn btn-success btn-sm" id="like" onclick="like('{{_id}}', 0)" disabled="{{alreadyLiked}}">Like</button> 
	                    		<button class="btn btn-danger btn-sm" id="dislike" onclick="dislike('{{_id}}', 0)" disabled="{{alreadyDisliked}}">Dislike</button>
                    		{{/if}}
	                    {{/if}}

	                    <button class="btn btn-primary btn-sm" id="comments">Comments</button> 

	                </div>
			                
	                <div class="col-md-6">
	                	<p class="fromNow"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>{{formatDatePostFromNow(dateTime)}}</p>
	                  	<div class="google-maps">
              				<div class="map-container">
						    	{{#unless geolocationError}}
						      		{{> googleMap name=_id options=mapOptions}}
						    	{{else}}
						  			Geolocation failed: {{geolocationError}}
								{{/unless}}
							</div>
	                  	</div>
	                </div>

				</div>
			</div>
		{{/each}}

	</div>

</template>