<template name="myPost">

	<div id="post">
        <div class="container text-center">
        	<a class="btn btn-lg btn-primary" href="/newPost">New post</a>
        </div>
	    
        {{#each post}}
			<div class="container-fluid">
				<div class="row text-center well well-sm features">
						  
	                <div class="col-md-2">
	              		<i class="glyphicon glyphicon-user"></i>
	              		<h3><a href="/profile">{{currentUser.username}}</a></h3>
	                  
	                	<button class="btn btn-primary btn-sm" id="editPost">Edit post</button>
	               		<button class="btn btn-danger btn-sm" id="deletePost">Delete post</button>
	                </div>
		                
	                <div class="col-md-3 col-md-offset-1">
	              		<i class="glyphicon glyphicon-pencil"></i>
	                    <p class="lead">{{text}}</p>
	              		<div class="likes">
		                    <i class="glyphicon glyphicon-chevron-up" id="like">{{like}}</i>
	                    	<i class="glyphicon glyphicon-chevron-down" id="dislike">{{dislike}}</i>
	                  	</div>

	                  	{{#if alreadyLiked}}
		                    <button class="btn btn-success btn-sm" id="like_{{_id}}" onclick="like('{{_id}}','{{like}}','{{dislike}}', 1)" disabled="{{alreadyLiked}}">Like</button> 
		                    <button class="btn btn-danger btn-sm" id="dislike_{{_id}}" onclick="dislike('{{_id}}','{{like}}','{{dislike}}', -1)" disabled="{{alreadyDisliked}}">Dislike</button>
	                    {{else}}
	                    	{{#if alreadyDisliked}}
                    		<button class="btn btn-success btn-sm" id="like_{{_id}}" onclick="like('{{_id}}','{{like}}','{{dislike}}', -1)" disabled="{{alreadyLiked}}">Like</button> 
	                    	<button class="btn btn-danger btn-sm" id="dislike_{{_id}}" onclick="dislike('{{_id}}','{{like}}','{{dislike}}', 1)" disabled="{{alreadyDisliked}}">Dislike</button>
                    		{{else}}
                    			<button class="btn btn-success btn-sm" id="like_{{_id}}" onclick="like('{{_id}}','{{like}}','{{dislike}}', 0)" disabled="{{alreadyLiked}}">Like</button> 
	                    		<button class="btn btn-danger btn-sm" id="dislike_{{_id}}" onclick="dislike('{{_id}}','{{like}}','{{dislike}}', 0)" disabled="{{alreadyDisliked}}">Dislike</button>
                    		{{/if}}
	                    {{/if}}

	                </div>
		                
	                <div class="col-md-3">
	            	    <i class="glyphicon glyphicon-screenshot"></i>
	                  	<h3>Map</h3>
	                  	<p class="lead">{{formatDatePost(dateTime)}}<br></p>
	                  	<div class="google-maps">
              				<div class="map-container">
						    	{{#unless geolocationError}}
						      		{{> googleMap name=_id options=mapOptions}}
						    	{{else}}
						  			Geolocation failed: {{geolocationError}}
								{{/unless}}
							</div>
	                  	</div>
	                </div>
		                
	                <div class="col-md-3">
		 	     		<i class="glyphicon glyphicon-comment"></i>
					    <h3>People say</h3>
			 	        <div class="divcomm" id="comm">
	                    </div>
	                    <form class="comment">
	                    </form>
				    <!--

	                 	<div class="likes">

		                    <form class="new_comment" id="new_comment" action="/users/104/posts/1005/comments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />


			  				<div class="row text-center commento">
							    <textarea placeholder="Insert your comment" name="comment[body]" id="comment_body"></textarea>
							  					        
							    <div class="">
						        	<label for="comment_anonymous">Anonymous</label>
							        <input name="comment[anonymous]" type="hidden" value="0" /><input type="checkbox" value="1" name="comment[anonymous]" id="comment_anonymous" />
						      	</div>
						      	<div>
						        	<input type="submit" name="commit" value="Create comment" class="btn btn-success btn-sm" id="comment_submit" />
						      	</div>
							  </div>
							  
							  
							</form>
	                  	</div>
	                -->
	                </div>
		              
				</div>
			</div>
		{{/each}}

	</div>

</template>