<template name="notifications">
	
	<div class= "choicebody" >
		<div class="container" style="width: 60%">

			<div class="row well well-lg">
				<h1 class="text-center">New notifications:</h1> 

				{{#each unreadNotification}}
					<div class="col-md-8 col-md-offset-2" style="border: 1px solid rgba(255, 255, 255, .5); border-bottom: 0; padding: 2%;">
						<div class="row">
							<div class="col-md-11">
								<span>
									<i class="fa {{actionIcon}} fa-fw" aria-hidden="true"></i>
									{{#if anonymous}}
										<a href="">Anonymous</a>
									{{else}}
										<a href="/profile/{{userId}}">{{username}}</a>
									{{/if}}
									 {{action}} your 
									{{#if isComment}}
										<a href="" id="postDetail">comment</a>. 
									{{else}}
										<a href="" id="postDetail">post</a>. 
									{{/if}}
									- {{formatDateCommentFromNow(dateTime)}}
								</span>
							</div>
							<div class="col-md-1 text-right" style="padding-right: 1%;">
								<i class="fa fa-book fa-fw" aria-hidden="true" id="setRead" style="cursor: pointer;"></i>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-md-offset-2" style="border-top: 1px solid rgba(255, 255, 255, .5)"></div>
					<input type="text" id="notificationId" hidden value="{{_id}}">
				{{else}}
					<div class="col-md-8 col-md-offset-2 text-center" style="border: 1px solid rgba(255, 255, 255, .5); padding: 2%;">
						<div class="row">
							<div class="col-md-12">
								<span>
									There aren't any new notifications.
								</span>
							</div>
						</div>
					</div>
				{{/each}}

				<div class="text-center">
					<button id="setAllRead" class="btn btn-primary" style="margin-top: 2%;">
						<i class="fa fa-book fa-fw" aria-hidden="true"></i>Mark all as read
					</button>
				</div>
			</div>

			<div class="row well well-lg">
				<h1 class="text-center">Old notifications:</h1>

				{{#each readNotification}}
					<div class="col-md-8 col-md-offset-2" style="border: 1px solid rgba(255, 255, 255, .5); border-bottom: 0; padding: 2%;">
						<div class="row">
							<div class="col-md-12">
								<span>
									<i class="fa {{actionIcon}} fa-fw" aria-hidden="true"></i>
									{{#if anonymous}}
										<a href="">Anonymous</a>
									{{else}}
										<a href="/profile/{{userId}}">{{username}}</a>
									{{/if}}
									 {{action}} your 
									{{#if isComment}}
										<a href="" id="postDetail">comment</a>. 
									{{else}}
										<a href="" id="postDetail">post</a>. 
									{{/if}}
									- {{formatDatePost(dateTime)}}
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-8 col-md-offset-2" style="border-top: 1px solid rgba(255, 255, 255, .5)"></div>
				{{else}}
					<div class="col-md-8 col-md-offset-2 text-center" style="border: 1px solid rgba(255, 255, 255, .5); padding: 2%;">
						<div class="row">
							<div class="col-md-12">
								<span>
									There aren't any old notifications.
								</span>
							</div>
						</div>
					</div>
				{{/each}}

			</div>

		</div>
	</div>

</template>