<template name="resetPassword">
	{{#if resetPassword}} 
		<form class="signIn" id="resetPassword">
			<p class="form-title">Reset Password</p>
			<div><input type="password" placeholder="New password" id="password" required></div>
	        <div><input type="password" placeholder="New password confirmation" id="passwordConfirmation" required></div>
	        <input type="submit" value="Send email" class="btn btn-success btn-sm" />
		</form>
	{{else}}
		<form class="signIn" id="forgotPassword">
			<p class="form-title">Forgot Password</p>
			<div><input placeholder="Email" type="email" id="email" required autocomplete="off"/></div>
			<input type="submit" value="Send email" class="btn btn-success btn-sm" />
		</form>
	{{/if}}
</template>