<template name="signIn">

	<div class="alert" id="alert" style="display:block;">You need to sign in or sign up before continuing.</div>

	<form class="signIn">
		<p class="form-title">Sign In</p>
		<div><input placeholder="Email" type="email" id="email" required autocomplete="off"/></div>
		<div><input placeholder="Password" type="password" id="password" required autocomplete="off" /></div>

		<div class="forgot-pass-content text-right" style="margin-right: 5%;">
			<a href="/resetPassword">Forgot password?</a><br/>
		</div>

		<input type="submit" value="Sign in" class="btn btn-success btn-sm" />
	</form>

</template>