<template name="signUp">

    <div class="confirmation" id="confirmation">Confirmation!</div>
    <div class="alert" id="alert">Error.</div>
    <div class="info" id="info">Info here.</div>

 	<form class="signUp">
    	<p class="form-title">Sign Up</p>
        <div><input type="email" name="email" placeholder="Email" id="email" required></div>
        <div><input type="password" name="password" placeholder="Password" id="password" required></div>
        <div><input type="password" name="passwordConfirmation" placeholder="Password confirmation" id="passwordConfirmation" required></div>
        <div><input type="text" name="username" placeholder="Username" id="username" required></div>
        
        <br>
        <div><input type="text" name="name" id="name" placeholder="Name"></div>
        <div><input type="text" name="surname" id="surname" placeholder="Surname"></div>
        <div><input type="text" name="telegram_username" id="telegram_username" placeholder="Telegram username"></div>
        <div><input type="date" name="birth" id="birth" placeholder="Birth"></div>
        
        <br>
        <label>Gender</label>
        <br>
		<input type="radio" value="Male" name="gender"/>
		<label for="user_Male">Male</label>
		<input type="radio" value="Female" name="gender"/>
		<label for="user_Female">Female</label>
		<input type="radio" value="Unknown" name="gender"/>
		<label for="user_Unknown">Unknown</label>
		<input type="radio" value="Transgender" name="gender"/>
		<label for="user_Transgender">Transgender</label>
		
		<br>
		<div id= "privacy">
			<label for="user_privacy" id="label_user_privacy">Privacy: livello 1</label>
			<input min="0" max="2" type="range" name="privacy" id="user_privacy"/>
		</div>

        <input type="submit" value="Sign Up" class="btn btn-success btn-sm">
    </form>

</template>