body 
{
    background: url('https://res.cloudinary.com/geosocial/image/upload/v1477492928/world.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.notFound 
{  
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 3%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

/* Navbar ------------------- */

header .navbar-inverse
{
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: 0.7;*/
}

header .navbar-inverse .navbar-brand
{
   color: rgba(92, 184, 92, 1);
}

header .navbar-inverse .navbar-nav > li > a
{
    color: rgba(92, 184, 92, 1);
}

header .navbar-inverse .pie
{
    color: rgba(92, 184, 92, 1);
}

/* Aggiunto per il dropdown */
header .dropdown-menu 
{
    background-color: rgba(0, 0, 0, 0.7);

}

/* Aggiunto per il dropdown */
header .dropdown-menu > li > a
{
    color: rgba(92, 184, 92, 1);
}

/* themeteorchef:bert -------- */

.bert-alert 
{  
    margin-top: 40px;
}

/* Form -------------------- */

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

form
{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3%;
    border-radius: 10px;
    padding-top: 1%;
}

form.signIn input[type="text"], form.signIn input[type="email"], form.signIn input[type="password"],
form.new_post input[type="text"]
{
    width: 90%;
    margin-left: 5%;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.signUp input[type="text"], form.signUp input[type="email"], form.signUp input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.signIn input[type="checkbox"]
{
    margin-left: 0;
}

form.signIn input[type="submit"], form.signUp input[type="submit"],
form.signUp input[type="button"], form.signIn button, form.signUp button
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.signIn input[type="submit"]:hover, form.signUp input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.signIn .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

form.signIn a, form.signUp a,form.signIn label,form.signUp label
{
    font-size: 110%;
    font-weight: 400;
    color: #FFFFFF;
}

form.signIn a, form.signUp a
{
    transition: color 0.5s ease;
}

form.signIn a:hover, form.signUp a:hover
{
    color: #2ecc71;
}

form.signUp p 
{
    color: white;
}

input[type=range] 
{
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus 
{
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track 
{
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb 
{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]::-moz-range-track 
{
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb 
{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="file"]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

textarea 
{
    resize: none;
}

.btn-file 
{
    position: relative;
    overflow: hidden;
    border: none;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.pie
{
    padding-top: 1%;
}

.alert 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: red;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 5%;
    display: none;
    position: fixed;
}

.confirmation 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: green;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 5%;
    display: none;
    position: fixed;
}

.info 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 12%;
    display: none;
    position: fixed;
}

/* Map ------------------- */

.map-container 
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  
 
}

.google-maps 
{
    text-align: center;
    position: relative;
    padding-bottom: 40%; 
    height: 0;
    overflow: hidden;
}

.google-maps-60 
{
    text-align: center;
    position: relative;
    padding-bottom: 60%; 
    height: 0;
    overflow: hidden;
}


/* Carousel--------------- */

.carousel-caption
{   
    right: 40%;
    left: 40%;
    bottom: 10%;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-shadow: 2px 2px 9px black;
}

.icona
{
    padding-left: 5%;
}

.right
{
    right: 0px;
    padding-right: 0px;
    position: fixed;
}

/* Choicebody --------------- */

.choicebody 
{
    color: white;
}

.choicebody input[type="button"] , .choicebody input[type="number"]
{
    color: black;

}

.choicebody form
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.choicebody input[type="button"]
{

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

.choicebody input[type="number"]
{
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
    outline: 0;
}

.choicebody .well
{
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
}

/* ChoicebodyAllPosts ------------ */

.choicebodyAllPosts .well
{
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0px;
    margin-bottom: 0;
    border: 0;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    color: black;
}

.choicebodyAllPosts h3
{
    color: black;
}

.choicebodyAllPosts input[type="number"]
{
    border-bottom: 1px solid black;
    color: black;
}


/* NewPost -------------------- */

.newpost
{
    padding-top: 5%;
    color: white;
}


.container form.new_post #post_text, #post_address
{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
    outline: 0;
}

.container form.new_post label, h3
{
    font-size: 1.2em;
    font-weight: 400;
    color: #FFFFFF;
}

form.new_post 
{
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
}

.newpost .buttond
{
    padding-top: 5%;
    padding-bottom: 12%;
}

.newpost .buttond :hover
{
    transition: background-color 0.5s ease;
}

.newpost .btn-file
{
    position: relative;
    overflow: hidden;
    border: none;
}

.container form.new_post input[type="file"]
{

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

.field
{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 5%;
}

input[type="checkbox"] 
{
    margin-left: 1%;
}

/* googleAutocomplete ------- */

#geocomplete
{
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
}

.googleAutocompleteForm 
{
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
    padding-top: 0;
}

.map_canvas
{
    width: 100%;
    height: 100%;
}

.pac-container {
    z-index: 10000;
}

/* Post -------------------- */

#post .well
{
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0px;
    margin-bottom: 0;
    border: 0;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

#post .container 
{
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
}

.likes
{
    padding: 2%;
    margin: 1%;
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 4%;
    padding-top: 4%;
    font-size: 1.2em;
}

#post .newPost
{
    padding: 2%;
    border: 0;
}

#post .google-maps 
{
    margin-top: 2%;
    padding-bottom: 60%;
}

#post .map-container 
{
    padding-left: 1%;
    padding-right: 1%; 
}

#post p 
{
    word-break: break-word;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pre
{   
    white-space: pre-wrap;
    word-wrap: break-word;
}

#post h3 
{   
    font-weight: bolder;
    color: #0088CC;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0; 
}

#post .btn
{
    margin-right: 3%;
}

#postHeader .btn
{
    margin-right: 0;
}

#post .fa, #postDetail .fa
{
    margin-right: 5%;
}

#post .fa-user
{
    margin-right: 1%;
}

#post .fa-calendar, #postDetail .fa-calendar
{
    margin-right: 1%;
}

.fa-thumbs-up
{
    color: green;
}

.fa-thumbs-down
{
    color: red;
}

.fa-comments
{
    color: #337ab7;
}

#post .fa-map-marker
{
    margin-right: 1%;
}

.postDate
{
    color: black;
}

.postDate:hover
{
    color: black;
}

.postDate:visited
{
    color: black;
}

.fromNow 
{
    font-size: 14px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/* postDetail -------------- */

#postDetail h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
}

#postDetail .btn
{
    margin-right: 5%;
}

#postDetailHeader .btn 
{
    margin-right: 0;
}

#postDetailBody .btn-danger
{
    margin-right: 20%;
}

.modal-footer 
{
    text-align: center;
}

/* Comments -------------- */

.commentTextarea 
{
    width: 100%;
    max-width: 100%;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    outline: 0;
}

#postDetailFooter .btn
{
    margin-right: 0;
}

#insertComment
{
    background-color: #ECECEC;
}

#postDetailFooter h4 
{
    margin: 0;
    font-weight: bolder;
    display: inline;
}

#commentsLike
{
    border-top: 1.5px solid rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    padding-top: 2%;
}

#commentsLike .fa
{
    font-size: 1.25em;
    margin-right: 2%;
}