body 
{
    background: url('/images/World.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.notFound 
{  
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 3%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

/* Navbar ------------------- */

header .navbar-inverse
{
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: 0.7;*/
}

header .navbar-inverse .navbar-brand
{
   color: rgba(92, 184, 92, 1);
}

header .navbar-inverse .navbar-nav > li > a
{
    color: rgba(92, 184, 92, 1);
}

header .navbar-inverse .pie
{
    color: rgba(92, 184, 92, 1);
}

/* Aggiunto per il dropdown */
header .dropdown-menu 
{
    background-color: rgba(0, 0, 0, 0.7);

}

/* Aggiunto per il dropdown */
header .dropdown-menu > li > a
{
    color: rgba(92, 184, 92, 1);
}

/* Form -------------------- */

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

form
{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3%;
    border-radius: 10px;
    padding-top: 1%;
}

form.signIn input[type="text"], form.signIn input[type="email"], form.signIn input[type="password"]
{
    width: 90%;
    margin-left: 5%;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.signUp input[type="text"], form.signUp input[type="email"], form.signUp input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.signIn input[type="checkbox"]
{
    margin-left: 0;
}

form.signIn input[type="submit"], form.signUp input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.signIn input[type="submit"]:hover, form.signUp input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.signIn .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding-left: 5%;
    padding-right: 5%; 
}

form.signIn .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

form.signIn a, form.signUp a,form.signIn label,form.signUp label
{
    font-size: 110%;
    font-weight: 400;
    color: #FFFFFF;
}

form.signIn a, form.signUp a
{
    transition: color 0.5s ease;
}

form.signIn a:hover, form.signUp a:hover
{
    color: #2ecc71;
}

input[type=range] 
{
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus 
{
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track 
{
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb 
{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]::-moz-range-track 
{
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb 
{
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="file"]
{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

.btn-file 
{
    position: relative;
    overflow: hidden;
    background: #006dcc;
    border: none;
}

.button_to 
{
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    padding-top: 0;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.pie
{
    padding-top: 1%;
}

.alert 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: red;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 5%;
    display: none;
}

.confirmation 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: green;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 5%;
    display: none;
}

.info 
{
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    color: white;
    text-align: center;
    width: 20%;
    position: absolute;
    padding: 1.5%;
    border-radius: 10px;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: 12%;
    display: none;
}

/* Map ------------------- */

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  
 
}

.google-maps {
    text-align: center;
    position: relative;
    padding-bottom: 30%; 
    height: 0;
    overflow: hidden;
}

/* Carousel--------------- */

.carousel-caption
{   
    right: 40%;
    left: 40%;
    bottom: 10%;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-shadow: 2px 2px 9px black;
}

.icona
{
    padding-left: 5%;
}

.right
{
    right: 0px;
    padding-right: 0px;
    position: fixed;
}

/* Choice--------------- */

.choicebody 
{
    color: white;
}

.choicebody input[type="submit"] , .choicebody input[type="number"]
{
    color: black;

}

.choicebody form
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.choicebody input[type="submit"]
{

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

.choicebody input[type="number"]
{
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
    outline: 0;
}

.choicebody .well
{
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
}

/* NewPost -------------------- */

.newpost
{
    padding-top: 5%;
    color: white;
}


.container form.new_post #post_text, #post_address
{
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: white;
    outline: 0;
}

.container form.new_post label, h3
{
    font-size: 1.2em;
    font-weight: 400;
    color: #FFFFFF;
}

form.new_post 
{
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
}

.newpost .buttond
{
 padding-top: 5%;
 padding-bottom: 5%;
}

.newpost .btn-file
{
    position: relative;
    overflow: hidden;
    background: #006dcc;
    border: none;
}

.container form.new_post input[type="file"]
{

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: red;
    cursor: inherit;
    display: block;
}

.field
{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 5%;
}

/* Post -------------------- */

#post .well{
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 0px;
}

.features .glyphicon
{
    font-size: 32px;
    color: #0066FF;
}

.features .glyphicon-chevron-up
{
    font-size: 28px;
    color: green;
}
.features .glyphicon-chevron-down
{
    font-size: 28px;
    color: red;
}

.command .glyphicon 
{
    font-size: 100px;
    color: rgba(25, 25, 25, 0.6);
    left: 0px;
}

#post h3
{
    font-weight: bolder;
    color: #0088CC;
    font-size: 2em;
}

form.comment input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: black;
    outline: 0;
}

.prova
{
    color: white;
}

.pie
{
    padding-top: 1%;
}

#post .container
{
    padding: 2%;
}

.likes
{
    padding: 2%;
    margin: 1%;
    border-top: 2px solid rgba(0, 0, 0, 0.8);
    margin-top: 8%;
    padding-top: 6%;
    font-size: 1.2em;
}

.likescom
{
    padding: 2%;
    padding-bottom: 6%;
    margin: 1%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    margin-bottom: 6%;
    font-size: 1em;
}

.likescom .glyphicon
{
    font-size: 1.8em ;
}

.nome
{
    font-weight: bolder;
    color: #0088CC;
}

.commenti
{
    padding: 5%;
}

.commenti h1
{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.divcomm
{
    max-height: 200px;
    overflow-y: scroll;
}


.row .commento #comment_body
{
    margin-top: 2%;
    padding-top: 5%;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    color: black;
}

.row .commento #comment_body placeholder
{
    color: rgba(0, 0, 0, 0.8);
}

.scelta
{
    margin: 2%;
}

.likecomm
{
    color: green;
}

.dislikecomm
{
    color: red;
}

.commento
{
    margin-top: 5%;
}
