<template name="deleteAccount">
 	<div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Delete account</h4>
                </div>

                <div class="modal-body">
                	<p>This operation cannot be undone.</p>
                    <p>Are you sure you want to permanently delete your account?</p>
                </div>

                <div class="modal-footer">
                	<button class="btn btn-danger btn-sm" id="deleteAccount"><i class="fa fa-trash-o fa-fw" title="Delete" aria-hidden="true"></i>Delete account</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>