<template name="editPost">

	<div class="container newpost text-center">
		<form class="new_post" id="edit_post">

			<div class="field">
				<label for="post_text">Text</label><br>
				<script>autosize(document.querySelectorAll('textarea'));</script>
				<textarea name="post_text" id="post_text" oninput="autoGrow(this)" oncreate="autoGrow(this)" value="{{text}}" rows="2" required></textarea>

				{{#if img_url}}
					<img id="post_img" src="{{img_url}}" style="max-width: 100%">
					<input type="text" id="oldImg_public_id" value="{{img_public_id}}" hidden>
					<input type="text" id="oldImg_url" value="{{img_url}}" hidden>
					<input type="text" id="img_public_id" hidden>
					<input type="text" id="img_url" hidden>
					<div id="spinner" style="margin-top: 5%; padding-bottom: 3%; display: none">{{> smallSpinner}}</div>

					<button id="delete_img" class="btn btn-danger col-md-4 col-md-offset-4" style="margin-top: 1%; margin-bottom: 1%;">
						<i class="fa fa-trash-o" title="Delete" style="margin-right: 4%;" aria-hidden="true"></i>Delete photo
					</button>

					<div class="buttond">
						<div class="btn btn-primary btn-file col-md-4 col-md-offset-4" id="button_uploadImage" disabled="true">
							<label for="post_image"><i class="fa fa-camera" style="margin-right: 4%;" aria-hidden="true"></i>Add photo</label>
							<input type="file" name="post_image" id="post_uploadImage" disabled="true"/>
						</div>
					</div>
				{{else}}
					<img id="post_img" src="" style="max-width: 100%" hidden>
					<input type="text" id="img_public_id" hidden>
					<input type="text" id="img_url" hidden>
					<div id="spinner" style="margin-top: 5%; padding-bottom: 3%; display: none">{{> smallSpinner}}</div>

					<button id="delete_img" class="btn btn-danger col-md-4 col-md-offset-4" style="margin-top: 1%; margin-bottom: 1%; display: none">
						<i class="fa fa-trash-o" title="Delete" style="margin-right: 4%;" aria-hidden="true"></i>Delete photo
					</button>

					<div class="buttond">
						<div class="btn btn-primary btn-file col-md-4 col-md-offset-4" id="button_uploadImage">
							<label for="post_image"><i class="fa fa-camera" style="margin-right: 4%;" aria-hidden="true"></i>Add photo</label>
							<input type="file" name="post_image" id="post_uploadImage"/>
						</div>
					</div>
				{{/if}}
				
			</div>

			<div class="field">
				<label for="post_anonymous">Anonymous</label>
				{{#if anonymous}}
					<input type="checkbox" value="1" name="post_anonymous" id="post_anonymous" checked="true" />
				{{else}}
					<input type="checkbox" value="1" name="post_anonymous" id="post_anonymous" />
				{{/if}}
			</div>

			<div class="field">
				<p>Choose one: </p>
				<label for="post_oldPosition">Don't change the old location</label>
				<input type="checkbox" value="1" name="post_oldPosition" id="post_oldPosition" checked/>
				<input type="text" id="oldLatitude" value="{{latitude}}" hidden >
				<input type="text" id="oldLongitude" value="{{longitude}}" hidden >
				<br><br>
				<div>
					<label for="post_location">Use your current location</label>
					<input type="checkbox" value="1" name="post_location" id="post_location" />
					{{> googleAutocomplete}}
				</div>
			</div>

			<div class="field">
				<div>
					<button type="submit" id="commit" class="btn btn-success btn-lg" ><i class="fa fa-pencil-square-o" style="margin-right: 4%;" aria-hidden="true"></i>Edit post</button>
				</div>
			</div>

		</form>
	</div> 

</template>