<template name="header">
	<div id="navbar_header" class="navbar navbar-inverse navbar-{{navbarClass}}-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>GeoSocial</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
			</div>
			<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
				{{#if currentUser}}
					<li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
					<li>
						<a href='#' data-toggle="dropdown"><i class="fa fa-bars fa-fw" aria-hidden="true"></i>Personal <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/profile"><i class="fa fa-user fa-fw" style="margin-right: 5%;" aria-hidden="true"></i>My profile</a></li>
							<li><a href="/myPosts"><i class="fa fa-archive fa-fw" style="margin-right: 5%;" aria-hidden="true"></i>My posts</a></li>
							<li class="divider"></li>
							<li><a href="/editProfile"><i class="fa fa-cogs fa-fw" style="margin-right: 5%;" aria-hidden="true"></i>Edit profile</a></li>
							<li class="divider"></li>
							<li><a href="#" class="logout"><i class="fa fa-sign-out fa-fw" style="margin-right: 5%;" aria-hidden="true"></i>Log out</a></li>
						</ul>
					</li>
				{{else}}
					<li><a href="/"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>Sign in</a></li>
					<li><a href="/signUp"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>Sign up</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
</template>